<div class="map-container">
  <div class="search-filter">
    <app-search-filter></app-search-filter>
  </div>
  
  <div class="content-row">
    <!-- Left side panel -->
    <app-resizable-panel>
      <div [innerHTML]="panelContent"></div>
    </app-resizable-panel>

    <!-- Map content -->
    <div class="map-content">
        <app-project-popup
          *ngIf="selectedProject"
          [project]="selectedProject"
          [map]="mapService.getSMKInstance()?.$viewer?.map"
          (closed)="selectedProject = null"
          class="floating-popup">
        </app-project-popup>
      <div #mapContainer id="map"></div>
    </div>
  </div>
</div>